{% extends "base.html.twig" %}

{% block title %}Fiche du film :
    {{movie.title}}
{% endblock %}

{% block body %}
    {% if movie.avgRatings > 2.5 %}
        {% set className = "badge-success" %}
    {% elseif movie.avgRatings > 1.5 %}
        {% set className = "badge-warning" %}
    {% else %}
        {% set className = "badge-danger" %}
    {% endif %}

    <h1 class="mb-5">{{movie.title}}
        ({{movie.director.fullName}},
        {{movie.releasedAt|date('Y')}})
        <span class="badge {{className}} float-right">
            Noté :
            {{ movie.avgRatings | number_format(2, ",", " ") }}
            / 5
        </span>
    </h1>

    <div class="row">
        <div class="col-4">
            <img src="{{movie.poster}}" alt="" class="img-fluid">
        </div>
        <div class="col">
            <h2>Synopsis du film :</h2>
            <p>{{ movie.synopsis}}</p>

            {% for category in movie.categories %}
                <a href="{{path('movie_category', {'slug': category.slug})}}" class="badge badge-dark">
                    {{ category.title }}
                </a>
            {% endfor %}


            <hr>
            <h2>Réalisé par
                {{movie.director.fullName}}</h2>

            <div class="row">
                <div class="col-3">
                    <img src="{{movie.director.picture}}" alt="">
                </div>
                <div class="col">
                    <strong>{{ movie.director.directed | length}}
                        films réalisé(s) :</strong>
                    <ul class="list-unstyled">
                        {% for movie in movie.director.directed %}
                            <li>
                                -
                                <a href="{{ path('movie_show', {'slug': movie.slug}) }}">
                                    {{ movie.title }}
                                    ({{movie.releasedAt | date('Y')}},
                                    {{movie.avgRatings | number_format(2, ","," ")}}
                                    / 5)
                                </a>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr>
            <h2>Casting :
            </h2>
            {% for actor in movie.actors %}
                <div class="mb-2">
                    <a href="{{ path('people_show', {'slug': actor.slug}) }}">
                        <img src="{{actor.picture}}" alt="" class="avatar avatar-mini mr-2">
                        {{actor.fullName}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>

    {% if alreadyHasRating %}
        <h2>Vous avez déjà donné votre avis sur ce film</h2>
    {% else %}

        {% if is_granted('ROLE_USER') %}
            <h2>Donnez votre avis sur
                {{movie.title}}</h2>
            {{ form_start(form)}}

            {{ form_widget(form)}}

            <button class="btn btn-success" type="submit">
                <i class="fas fa-check"></i>
                Confirmer la notation
            </button>

            {{ form_end(form)}}

        {% else %}
            <h2>Connectez-vous si vous souhaitez donner votre avis sur le film</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary">
                <i class="fas fa-lock-open"></i>
                Connexion
            </a>
        {% endif %}
    {% endif %}

    <hr>
    <h2>{{movie.ratings | length}}
        critiques de la communauté
    </h2>

    {% for rating in movie.ratings %}
        <div>
            <strong>{{ rating.author.name }}</strong>
            <span class="badge badge-success">{{ rating.notation }}
                / 5</span>
            <blockquote>
                <em>{{ rating.comment }}</em>
            </blockquote>

            {% if is_granted('ROLE_USER') and not rating.hasLikeFromUser(app.user) %}
                <a class="badge badge-light text-dark" data-action="like" href="{{ path('movie_rating_like', {'id': rating.id}) }}">
                    <span>{{ rating.positiveLikes | length }}</span>&nbsp;
                    <i class="far fa-thumbs-up"></i>
                </a>

                <a class="badge badge-light text-dark" data-action="dislike" href="{{ path('movie_rating_dislike', {'id': rating.id}) }}">
                    <span>{{ rating.negativeLikes | length }}</span>&nbsp;
                    <i class="far fa-thumbs-down"></i>
                </a>
            {% else %}
                <span class="badge badge-dark">
                    {{ rating.positiveLikes | length }}&nbsp;
                    <i class="far fa-thumbs-up"></i>
                </span>

                <span class="badge badge-dark">
                    {{ rating.negativeLikes | length }}&nbsp;
                    <i class="far fa-thumbs-down"></i>
                </span>

            {% endif %}
            <hr>
        </div>

    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        // Je vais chercher tous les liens qui ont un attribut data-action qui contient le mot like
        document.querySelectorAll("a[data-action*='like']").forEach(link => { // Pour chaque lien, je créé un événement sur le click
            link.addEventListener('click', e => { // J'annule le comportement par défaut du click
                e.preventDefault();

                // Je récupère le href du lien
                const href = link.href;
                const action = link.dataset.action;

                // Si on a bien un href (les liens déjà cliqués n'ont plus de href)
                if (href) { // On appelle l'URL en AJAX et on récupère la réponse en JSON
                    fetch(href).then(response => response.json()).then(data => { // Regardez la console pour voir ce que le controller a renvoyé
                        console.log(data);
                        // On change le nombre de likes / dislikes
                        link.querySelector('span').textContent = (action === 'like' ? data.positiveLikes : data.negativeLikes);
                        // On change l'apparence du bouton
                        link.classList.remove('badge-light', 'text-dark');
                        link.classList.add('badge-dark', 'text-light');
                        // On supprime le href pour qu'on ne puisse pas recliquer sur le bouton
                        link.removeAttribute('href');
                    });
                }

            })
        })
    </script>
{% endblock %}
